<div class="password">
    <form class="password__form" action="#" target="__self" method="post">
        <label for="passwordInput" class="password__title">Hey! Do you wanna make your own password?</label>
        <div #passwordContainer class="password__container">
            <input
            #passwordInput 
            (focus)="passwordContainer.style.transform ='scale(1.1) translateY(-30px)'"
            (blur)="passwordContainer.style.transform ='scale(1)'"
            (input)="strengthCheck(passwordInput.value)" 
            class="password__input" 
            placeholder="Put your password here :3"
            type="password"
            minlength="8"
            autocomplete="current-password"
            pattern="\S+"
            tabindex="1"
            required
            id="passwordInput"
            >
            <img class="password__icon" src="../../assets/img/password/password-eye-closed.svg" *ngIf="!visible" (mousedown)="$event.preventDefault();" (click)="passwordInput.type='text'; visible = true;">
            <img class="password__icon" src="../../assets/img/password/password-eye-open.svg" *ngIf="visible" (mousedown)="$event.preventDefault();" (click)="passwordInput.type='password'; visible = false; $event.preventDefault();">
        </div>
        <div class="password__strength-indicator">
            <div [ngStyle]="{'background': strengthIndicator.section_1}" class="password__strength-section"></div>
            <div [ngStyle]="{'background': strengthIndicator.section_2}" class="password__strength-section"></div>
            <div [ngStyle]="{'background': strengthIndicator.section_3}" class="password__strength-section"></div>
        </div>
        <button class="password__submit">click me ;)</button>
    </form>
</div>