<label for="passwordInput" class="password__title">{{label}}</label>
<div #passwordContainer class="password__container">
    <input
    #passwordInput 
    (focus)="passwordContainer.style.transform ='scale(1.1) translateY(-30px)'"
    (blur)="passwordContainer.style.transform ='scale(1)'; this.onTouched()"
    (input)="onChange(passwordInput.value); this.value = passwordInput.value"
    class="password__input" 
    [placeholder]="placeholder"
    type="password"
    [value]="this.value"
    >
    <img class="password__icon" src="../../assets/img/password/password-eye-closed.svg" *ngIf="!visible" (mousedown)="$event.preventDefault();" (click)="passwordInput.type='text'; visible = true;">
    <img class="password__icon" src="../../assets/img/password/password-eye-open.svg" *ngIf="visible" (mousedown)="$event.preventDefault();" (click)="passwordInput.type='password'; visible = false;">
</div>