
.password{
    width: 100%;
    max-width: 1230px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        font-family: 'UbuntuMedium';
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 4rem;
        display: block;
    }
    &__container{
        background: transparent;
        position: relative;
        margin-bottom: 20px;
        transition: transform 1s;
        display: inline-block;
        max-width: 100%;
        width: auto;
    }
    &__input{
        box-sizing: border-box;
        width: 100%;
        display: inline-block; 
        font-family: "UbuntuRegular";
        font-size: 1.2rem;
        font-weight: 400;
        padding: 1rem 3.2rem 1rem 1.2rem;
        border: 4px solid #684747;
        border-radius: 8px;
        color: #4b3333;
        transition: box-shadow 1s, transform 1s;
        letter-spacing: normal;
        outline: none;
        box-shadow: 0px 0px 0px  #4b3333;
        &:focus{
            box-shadow: 0px 27px 18px  #bab3b3;
        }
        &[type='password']{
            letter-spacing: 2px;
            text-security:disc;
            -webkit-text-security:disc;
            -mox-text-security:disc;
        }
        &::placeholder{
            letter-spacing: normal;
            font-size: 1.2rem;
        }
    }
    &__icon{
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        cursor: pointer;
    }
}



@font-face {
    font-family: "UbuntuRegular"; 
    src: url("../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
  } 
  @font-face {
    font-family: "UbuntuMedium"; 
    src: url("../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
  } 